# Ignore WP Core
/public/wp

# Ignore Composer Vendor directory 
/vendor

# Ignore config files
production-config.php
dev-config.php

# Don’t ignore hipay theme
!/public/wp-content/themes/hipay-sage
!/public/wp-content/themes/hipay-sage-child

# Don’t ignore hipay plugin
/public/wp-content/plugins/*
!/public/wp-content/plugins/hipaydp

# Ignore htaccess
.htaccess